<div class="room-navigation">
    <h1 class="title">Bloc Chat</h1>
    <div class="new-room-button">
        <div ng-controller='ModalCtrl as modals'>
            <button type="button" class="btn btn-default" ng-click="modals.open()">New room</button>
        </div>
    </div>
    <div class="user-name-label">Username: {{ home.username}} </div>
    <div class="rooms" ng-repeat="room in home.rooms" ng-click="home.selectRoom(room)">{{room.$value}}</div>
</div>

<div class="chat-room-space">
    <h2 class="chat-room-name"> {{ currentRoom.name }} </h2>
    <div>
        <div class="messages" ng-repeat="message in messages">
            <div class="user-name-title">{{ message.username }}</div>
            <div class="message">{{ message.content }}</div>
            <div class="time-stamp">{{ message.sentAt | date : "shortTime" }}</div>
        </div>
    </div>
    <form ng-submit="home.send(home.message, currentRoom)">
        <input ng-model="home.message" class="input-bar" type="text" placeholder="Type a message here">
        <button class="send-button">Send</button>
    </form>
</div>